<div class="link">
	<ul>
		<li class="grid_1"><%= link.post_date.strftime('%d/%m/%Y') %></li>
		<li class="grid_10"><%= link_to link.short_url, link.short_url %></li>
		<li class="grid_6"><%= link.title %> </li>
		<li class="grid_4">By <%= link_to "@" + link.sender, "http://www.twitter.com/" + link.sender %></li>
		<li class="grid_2 social"><%= link_to image_tag("ico_twitter.png"),"http://www.twitter.com" %> <%= link_to image_tag("ico_facebook.png"),"http://www.facebook.com/sharer.php?u=" + link.short_url + "&t=" + link.title %> </li>
		<li class="grid_1"><%= link_to "Delete", "#", :class => "delete" %></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="clear"></div>
