<div class="clear"></div>
<div class="container_24">
	<div id="links">
		<h3>Your link stream</h3>
		<%= link_to 'Update Links', links_refresh_url %>
	  <%= render :partial => 'link', :collection => @links %>
  	<div class="grid_24">	
  	  <%= will_paginate @links %>
  	</div>
  	<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
  $(function() {
    requestDetails();
	});
	
	function requestDetails() {
	  if (counter < $(".grid_10").length) {
	    $($(".grid_7")[counter]).html('<%= image_tag('ajax-loader.gif') %>'); 
      $($(".grid_7")[counter]).load("/links/process_short_url/" + linkIds[counter], function() {
        $($(".grid_10")[counter]).html('<%= image_tag('ajax-loader.gif') %>'); 
        $($(".grid_10")[counter]).load("/links/get_page_title/" + linkIds[counter], function() {
          counter++;
          requestDetails(counter);
          tipsify(); 
        });
      });
    }
  }
  
  function tipsify() {
    $('#links a').tipsy({
          gravity: 'sw'
    });
    
    $('#links span').tipsy({
          gravity: 's'
    });
  }
</script>