<%= render :partial => "commons/html-header" %>

<body class="links">
	  <script>
	      var counter = 0;
        var linkIds = new Array();
	  </script>
	  
		<%= render :partial => "commons/header" %>
		<%= render :partial => "links/user-greeting" %>

		<%= yield %>
			
		<%= render :partial => "commons/footer" %>
</body>
<%= render :partial => "commons/html-footer" %>