<%= render :partial => "commons/html-header" %>

<body class="links">
	
		<%= render :partial => "commons/header" %>
		
		<%= yield %>
			
		<%= render :partial => "commons/footer" %>
</body>
<%= render :partial => "commons/html-footer" %>