<%= render :partial => "layouts/html-header" %>
	
	<div class="container_24">

		<%= render :partial => "layouts/header" %>
		
		<%= yield %>
			
		<%= render :partial => "layouts/footer" %>

	</div>
	
<%= render :partial => "layouts/html-footer" %>